

<div class="card mat-card" id="id_superior" >
    <div class="row">
        <div class="col-10">
            <img src="../../../assets/arg_progr_azul.jpg" id="logoAP" class="img-fluid" alt="Logo Arg Programa">
        </div>
        <div class="col-2">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-github"></i>
            <i class="bi bi-linkedin"></i>
            <button type="button" class="btn btn-primary float-right" routerLink="/login">Login</button>
        </div>
    </div>
</div>