<div class="container p-3 my-5 border" id="habilidades">
    <div class="row">
        <div class="col-10">
            <h2>Habilidades</h2>
        </div>
        <div class="col-2">
            <i class="bi bi-plus-circle-fill"></i>
        </div>
    </div>
    <div class="row">
        
        <div class="col-3">
            <div *ngFor="let habilidades of habilidadess">
            <h5>{{habilidades.habilidad}}</h5> 
                <circle-progress
                    [percent]="100"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
          >
                </circle-progress>
                <div class="col-1">
                    <i class="bi bi-pencil-fill"></i> <i class="bi bi-trash-fill"></i>
                </div>
            </div>
        </div>
    </div>
</div>
