   <div class="container p-3 my-5 border" id="proy">
    
    <div class="row">
        <div class="col-10">
            <h2>Proyectos</h2> 
            <div *ngFor = "let proyectos of proyectoss">
                <h5>2022. Portfolio web. Proyecto integrador de #YoProgramo.</h5>
                <h5>Argentina Programa</h5>
            
                <div class="col-2">
                    <i class="bi bi-plus-circle-fill"></i>
                    <i class="bi bi-pencil-fill"></i> <i class="bi bi-trash-fill"></i>
                </div>
            </div>
        </div>
        </div>
    </div>
